services:
  web:
    build: .
    container_name: app
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - sqlite_data:/app/db
    environment:
      - DEBUG=1
    restart: unless-stopped

volumes:
  sqlite_data:
